{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<br>
<h1>Dashboard For {{ role }}</h1>
<p>Welcome back, {{ username }}!</p>


<div>
    <h2>Here Are Your Exclusive Features</h2>
    <p></p>
    <a href="{{ url_for('profile') }}" class="input-lg text-center btn btn-primary btn-sm">View Profile</a>
    <p></p>
    <a href="{{ url_for('profile_edit') }}" class="input-lg text-center btn btn-primary btn-sm">Edit Profile</a>
    <p></p>
    <a href="{{ url_for('password_reset') }}" class="input-lg text-center btn btn-primary btn-sm">Reset Password</a>
</div>



<div>
    <!-- display list of guide-->
    <h2>Animal Pest Guide List</h2>
    <p></p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" width="30">Common Name</th>
                <th class="text-center" width="200">Primary Image</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guide_list %}
            <tr>
                <td class="text-center">{{guide[1]}}</td>
                <td class="text-center">
                    <a href="guide_details?id={{guide[0]}}"><img src="data:;base64,{{ guide[2] }}" class="img-responsive form-control input-sm text-center"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}