{% extends 'layout.html' %}

{% block title %}Dashboard - Admin{% endblock %}

{% block content %}
<br>
<h1>Dashboard For {{ role }}</h1>
<p class="fs-6"><strong>Welcome Back, {{ username }}!</strong></p>


<div>
    <h2>Your Exclusive Features</h2>
    <p></p>
    <a href="{{ url_for('profile_details') }}" class="input-lg text-center btn btn-primary btn-sm">View Your Own Profile</a>

    <a href="{{ url_for('profile_edit') }}" class="input-lg text-center btn btn-primary btn-sm">Edit Your Own Profile</a>

    <a href="{{ url_for('password_reset') }}" class="input-lg text-center btn btn-primary btn-sm">Reset Your Own Password</a>
    <p></p>
    <p></p>
    <a href="profile_list?role=Controller" class="input-lg text-center btn btn-primary btn-sm">Manage Controllers</a>

    <a href="profile_list?role=Staff" class="input-lg text-center btn btn-primary btn-sm">Manage Staff</a>
    <p></p>
    <p></p>
    <a href="{{ url_for('guide_manage') }}" class="input-lg text-center btn btn-primary btn-sm">Manage Guide</a>
</div>

{% endblock %}