{% extends 'layout.html' %}

{% block title %}Guide Details{% endblock %}

{% block content %}
<div>
    <h2>Edit Animal Pest Guide Details</h2>
</div>

<div>

    {% if msg[0] == 1 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% elif msg[0] == 0 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% endif %}

    <form id="form" name="form" action="/guide_edit?id={{details[0]}}" method="post" enctype="multipart/form-data" autocomplete="off">

        <input type="submit" value="Save" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal"/>
        <a href="guide_delete?id={{details[0]}}" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">Delete</a>
        <a href="guide_manage" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">List View</a>

    <table>
        <thead>
            <tr>
                <th class="text-center" width="30%"></th>
                <th class="text-center" width="70%"></th>
            </tr>
        </thead>
        <tbody>

            
            <tr>
                <td>Common Name:</td> <td><input type="text" value="{{ details[1] }}" name="common_name" placeholder="Input first name here"/></td>
            </tr>
            
            <tr>
                <td>Scientific Name:</td> <td><input type="text" value="{{ details[2] }}" name="scientific_name" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Description:</td> <td><input type="text" value="{{ details[3] }}" name="description" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Distribution:</td> <td><input type="text" value="{{ details[4] }}" name="distribution" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Size:</td> <td><input type="text" value="{{ details[5] }}" name="size" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Droppings:</td> <td><input type="text" value="{{ details[6] }}" name="droppings" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Foot Prints:</td> <td><input type="text" value="{{ details[7] }}" name="footprints" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Impacts:</td> <td><input type="text" value="{{ details[8] }}" name="impact" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Control Methods:</td> <td><input type="text" value="{{ details[9] }}" name="control_methods" placeholder="Input first name here"/></td>
            </tr>
            <tr></tr>
            <tr>
                <td>Images-1:</td> 
                <td class="text-center">
                    <img src="data:;base64,{{ image1 }}" >
                    <p><p>
                    <input class="form-control" type="file" name="photo1" placeholder="Photo" id="photo1">
                </td>
            </tr>
            <p>
            <tr>
                <td>Images-2:</td> 
                <td class="text-center">
                    <img src="data:;base64,{{ image2 }}" >
                    <p><p>
                    <input class="form-control" type="file" name="photo2" placeholder="Photo" id="photo2">
                </td>
            </tr>


            <!-- <tr>
                <td>Images-1:</td> 
				<td><input class="form-control" type="file" name="photo1" placeholder="Photo" id="photo1"></td>
            </tr>
            <tr>
                <td>Images-2:</td> 
				<td><input class="form-control" type="file" name="photo2" placeholder="Photo" id="photo2"></td>
            </tr> -->
            <tr>
                <td></td> 
				<td><p class="help-block">Support jpeg, png, gif format, size no more than 5 MByte</p></td>
            </tr>


    </tbody>
    </table>
</form>
    
    <p></p>
        {% if msg[0] == 1 %}
        <br>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ msg[1] }}</strong>
        </div>
        {% elif msg[0] == 0 %}
        <br>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ msg[1] }}</strong>
        </div>
        {% endif %}
</div>
{% endblock %}