{% extends 'layout.html' %}

{% block title %}Guide Details{% endblock %}

{% block content %}
<div>
    <h2>Animal Pest Guide Details</h2>
</div>


<div>
    
{% if msg[0] == 1 %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ msg[1] }}</strong>
</div>
{% elif msg[0] == 0 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ msg[1] }}</strong>
</div>
{% endif %}

{% if (role != "Controller") and (details != None) %}
    <a href="guide_edit?id={{details[0]}}" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">Edit</a>
    <a href="guide_delete?id={{details[0]}}" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">Delete</a>
    <a href="guide_manage" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">List View</a>
{% endif %}

{% if (role != "Controller") and (details == None) %}
    <a href="guide_manage" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">List View</a>
{% endif %}

{% if role == "Controller" %}
    <a href="guide_view" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">List View</a>
{% endif %}
<p>
<table>
        <thead>
            <tr>
                <th class="text-center" width="200"></th>
                <th class="text-center" width="600"></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Common Name:</td> <td>{{ details[1] }}</td>
        </tr>
        <tr>
            <td>Scientific Name:</td> <td>{{ details[2] }}</td>
        </tr>
        <tr>
            <td>Description:</td> <td>{{ details[3] }}</td>
        </tr>
        <tr>
            <td>Distribution:</td> <td>{{ details[4] }}</td>
        </tr>
        <tr>
            <td>Size:</td> <td>{{ details[5] }}</td>
        </tr>
        <tr>
            <td>Droppings:</td> <td>{{ details[6] }}</td>
        </tr>
        <tr>
            <td>Foot Prints:</td> <td>{{ details[7] }}</td>
        </tr>
        <tr>
            <td>Impacts:</td> <td>{{ details[8] }}</td>
        </tr>
        <tr>
            <td>Control Methods:</td> <td>{{ details[9] }}</td>
        </tr>
        <tr>
            <td>Primary Image:</td>
            <td class="text-center">
                {% if image1 != None %}
                    <img src="data:;base64,{{ image1 }}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Other Image:</td> 
            <td class="text-center">
                {% if image2 != None %}
                    <img src="data:;base64,{{ image2 }}">
                {% endif %}
            </td>
        </tr>
        
    </tbody>
    </table>
    
</div>
{% endblock %}