{% extends 'layout.html' %}

{% block title %}Guide Details{% endblock %}

{% block content %}
<div>
    <h2>Add A New Guide Details</h2>
</div>

<div>

    {% if msg[0] == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% elif msg[0] == 0 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th class="text-center" width="260"></th>
                <th class="text-center" width="600"></th>
            </tr>
        </thead>
        <tbody>
        <!-- <form id="form" name="form" action="/guide_add" method="post" enctype="multipart/form-data" autocomplete="off"> -->
		<form action="{{ url_for('guide_add') }}" method="post" enctype="multipart/form-data" autocomplete="off">
            <tr>
                <td> 
                    <input type="submit" value="Add" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal"/>
                    <a href="guide_manage" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">List View</a>
                </td>
            </tr>
            
            <tr>
                <td>Common Name:</td> <td><input type="text" value="" name="common_name" placeholder="Input common name here"/></td>
            </tr>
            
            <tr>
                <td>Scientific Name:</td> <td><input type="text" value="" name="scientific_name" placeholder="Input scientific name here"/></td>
            </tr>
            <tr>
                <td>Description:</td> <td><input type="text" value="" name="description" placeholder="Input description here"/></td>
            </tr>
            <tr>
                <td>Distribution:</td> <td><input type="text" value="" name="distribution" placeholder="Input distribution here"/></td>
            </tr>
            <tr>
                <td>Size:</td> <td><input type="text" value="" name="size" placeholder="Input size here"/></td>
            </tr>
            <tr>
                <td>Droppings:</td> <td><input type="text" value="" name="droppings" placeholder="Input droppings here"/></td>
            </tr>
            <tr>
                <td>Foot Prints:</td> <td><input type="text" value="" name="footprints" placeholder="Input foot prints here"/></td>
            </tr>
            <tr>
                <td>Impacts:</td> <td><input type="text" value="" name="impact" placeholder="Input impact here"/></td>
            </tr>
            <tr>
                <td>Control Methods:</td> <td><input type="text" value="" name="control_methods" placeholder="Input control methods here"/></td>
            </tr>
            <tr>
                <td>Primary Image:</td> 
				<td><input class="form-control" type="file" name="photo1" placeholder="Photo" id="photo1"></td>
            </tr>
            <tr>
                <td>Other Image 1:</td> 
				<td><input class="form-control" type="file" name="photo2" placeholder="Photo" id="photo2"></td>
            </tr>
            <tr>
                <td>Other Image 2:</td> 
				<td><input class="form-control" type="file" name="photo3" placeholder="Photo" id="photo3"></td>
            </tr>
            <tr>
                <td></td> 
				<td><p class="help-block">Support jpeg, png, gif format, size no more than 5 MByte</p></td>
            </tr>

        </form>
    </tbody>
    </table>

</div>
{% endblock %}