{% extends 'layout.html' %}

{% block title %}Manage Guide{% endblock %}

{% block content %}


<div>
    <!-- display list of guide-->
    <h2>Manage Animal Pest Guide</h2>
    <p></p>
    
    <a href="guide_add" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">Add A New Guide</a>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" width="10%">Guide ID</th>
                <th class="text-center" width="15%">Common Name</th>
                <th class="text-center" width="22%">Scientific Name</th>
                <th class="text-center" width="25%">Primary Image</th>
                <th class="text-center" width="5%"></th>
                <!-- <th class="text-center" width="50"></th> -->
                <th class="text-center" width="5%"></th>
            </tr>
            <!-- <style>img{width:200px;height:200px;}</style> -->

        </thead>
        <tbody>
        {% for guide in guide_list %}
            <tr>
            <form id="form" name="edit_form" action="" method="post">
                <td class="text-center">{{guide[0]}}</td>
                <td class="text-center">{{guide[1]}}</td>
                <td class="text-center">{{guide[2]}}</td>
                <td> <a href="guide_details?id={{guide[0]}}"><img src="data:;base64,{{ guide[3] }}" class="form-control"></a></td>

                <td> <a href="guide_details?id={{guide[0]}}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">View</a></td>
                <!-- <td><input type="hidden" value="" name="" class="form-control input-sm"></td> -->
                <td> <a href="guide_edit?id={{guide[0]}}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Edit</a></td>

            </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}