{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div>
    <h2>Profile Page</h2> 
    <a href="{{ url_for('profile') }}" class="input-lg text-center btn btn-primary btn-sm">View Profile</a>
    <a href="{{ url_for('profile_edit') }}" class="input-lg text-center btn btn-primary btn-sm">Edit Profile</a>
</div>


<div>
    <p>Your account details are below:</p>
    <table>
        <thead>
            <tr>
                <th class="text-center" width="100"></th>
                <th class="text-center" width="300"></th>
            </tr>
        </thead>
        <tbody>
            
        <form id="password_form" name="password_form" action="/password_reset" method="post">
        <tr>
            <td>New Password:</td>
            <td><input type="password" value="" name="oldpassword" placeholder=""/></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" value="" name="password" placeholder="Same as New Password"/></td>
        </tr>
        <tr>
            <td> <input type="submit" value="Submit" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal"/></td>
        </tr>
        </form>
        
    </tbody>
    </table>
</div>
{% endblock %}