{% extends 'layout.html' %}

{% block title %}Controllers Profile{% endblock %}

{% block content %}
<br>

<div>
    <!-- display list of guide-->
    <h2>Manage {{role}} Profile</h2>
    <p></p>

    {% if msg[0] == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% elif msg[0] == 0 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% endif %}

    <a href="profile_add?role={{role}}" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal">Add User</a>
    <p></p>

    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-center" width="5%">ID</th>
                <th class="text-center" width="12%">User Name</th>
                <th class="text-center" width="12%">First Name</th>
                <th class="text-center" width="12%">Last Name</th>
                <th class="text-center" width="15%">Email</th>
                <th class="text-center" width="12%">Phone</th>
                <th class="text-center" width="12%">Date Joined</th>
                <!-- <th class="text-center" width="15%">Role</th> -->
                <th class="text-center" width="5%">Status</th>
                <th class="text-center" width="50"></th>
                <th class="text-center" width="50"></th>
            </tr>
        </thead>
        <tbody>
            {% for singlelist in profile_list %}
            <tr>
                <th class="text-center">{{singlelist[1]}}</th>
                <th class="text-center">{{singlelist[0]}}</th>
                <th class="text-center">{{singlelist[2]}}</th>
                <th class="text-center">{{singlelist[3]}}</th>
                <th class="text-center">{{singlelist[4]}}</th>
                <th class="text-center">{{singlelist[6]}}</th>
                <th class="text-center">{{singlelist[7]}}</th>
                <!-- <th class="text-center">{{singlelist[9]}}</th> -->
                <th class="text-center">{{singlelist[10]}}</th>                
                <td> <a href="profile_details?id={{singlelist[1]}}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">View</a></td>
                <td> <a href="profile_edit?id={{singlelist[1]}}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}