{% extends 'layout.html' %}

{% block title %}Add Profile{% endblock %}

{% block content %}
<div>
    <h2>Add Profile</h2> 
    <p></p>
    <a href="profile_list?role=Controller" class="input-lg text-center btn btn-primary btn-sm">Manage Controllers</a>
    <a href="profile_list?role=Staff" class="input-lg text-center btn btn-primary btn-sm">Manage Staff</a>
</div>


<div>
    {% if msg[0] == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% elif msg[0] == 0 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg[1] }}</strong>
    </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th class="text-center" width="300"></th>
                <th class="text-center" width="1000"></th>
            </tr>
        </thead>
        <tbody>
            
        <form id="add_form" name="add_form" action="/profile_add" method="post" enctype="multipart/form-data" autocomplete="off">
            <tr>
                <td>User Name:</td>
                <td><input type="text" value="" name="username" placeholder="Input username here" required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" value="" name="password" placeholder="Input password here" required/></td>
            </tr>
            <tr>
                <td>User Position:</td>
                <td>
                <select name="position" id="position" required>
                    <option selected> &lt;Select a position&gt;</option>
                    <option value="Pest Controller">Pest Controller</option>
                    <option value="Staff">Staff</option>
                    <option value="Administrator">Administrator</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" value="" name="firstname" placeholder="Input first name here"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" value="" name="lastname" placeholder="Input last name here"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" value="" name="email" placeholder="Input email here" required/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" value="" name="address" placeholder="Input address here"/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" value="" name="phone" placeholder="Input phone here"/></td>
            </tr>
            <tr>
                <td>Date Joined or Hired:</td>
                <td><input type="text" value="" name="datejoined" placeholder="Input date joined here" required/></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>
                <select name="department" id="department" required>
                    <option selected>&lt;Select a department&gt;</option>
                    <option value="Controller">Controller</option>
                    <option value="Staff">Staff</option>
                    <option value="Administrator">Administrator</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                <select name="status" id="status" required>
                    <option value="Active" selected>Active</option>
                    <option value="Inactive" >Inactive</option>
                </select>
                </td>
            </tr>
            
            <tr>
                <td> <input type="submit" value="Add" class="btn btn-primary btn-bg" data-toggle="modal" data-target="#myModal"/></td>
            </tr>
        </form>
    </tbody>
    </table>

</div>
{% endblock %}